body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url('https://lh3.googleusercontent.com/rur85tnbWFdpgCkQrybnY0j3kfYbGGFh-0Tp6iEgMa46LLotE9ilZwiSc7gzCKhq2LIJ=h556');
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width:200;
}

